* {
	outline: none;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	color: #fff;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
img {
	vertical-align:bottom
}
body {
	max-width: 100%;
	margin: 0;
	padding: 0;
	background: #222D3E;
}

/* Шрифты */

@font-face {
 font-family: BebasNeue;
 src: url(fonts/BebasNeue-Regular.ttf);
}

section {
	padding-top: 50px;
}

/* Typography */

h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -0.01em;
	margin-bottom: 30px;
}

.btn {
	width: 100%;
	border-radius: 8px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 17px 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12.5px;
	line-height: 121.19%;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
.btn.blue {
	background: #439DFF;
	box-sizing: border-box;
}

.btn.transparent {
	border: 1px solid #439BFD;
	box-sizing: border-box;
	margin-bottom: 20px;
}